body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.hidden {
    display: none;
}


/* BACKGROUND IMAGE AND OVERLAY */
.hero-header {
    background: linear-gradient(to bottom, rgba(21, 23, 18, 0.853) 9%,rgba(40,45,33,0.73) 18%,rgba(89, 71, 44, 0.82)
                                         32%,rgba(139, 90, 26, 0.82) 42%,rgba(193, 120, 24, 0.82) 51%,rgba(241, 147, 22, 0.82) 52%),  url(../img/IV.jpg); 
    /* background: linear-gradient(rgba(246, 167, 63, 0.82) 10%,rgba(239, 186, 117, 0.82)),  url(../img/IV.jpg);  */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* LOGO */
#logo {
 padding-top: 17vh;
 color: #c09f0c;
 border: none;
}

/* FORM WRAPPER */
.form-wrapper {
    border-radius: 15px 15px 5px 5px;
    background-color: #fff;
}

.form-title {
    color: #000;
    background-color: #ce991e;
    border-radius: 15px 15px 0 0;
}